.mobilenav {
  display: none;
}

@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }

  .navbar {
    display: none; /* Hide the NavBar on screens less than 168px wide */
  }

  .mobilenav {
    display: flex;
  }

  .landing-logo {
    left: 33%;
    top: 12vh;
    width: 250px;
  }
}

@media (max-width: 500px) {
  .landing-logo {
    left: 20%;
    width: 200px;
  }
}
