.mobilenav {
  display: none;
}

@media (max-width: 768px) {
  .body-container {
    flex-direction: column;
  }

  .navbar {
    display: none; /* Hide the NavBar on screens less than 168px wide */
  }

  .mobilenav {
    display: flex;
  }
}
